body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  background-color: tomato;
  border: 3px solid red;
  padding: 10px 40px;
  text-align: left;
  font-size: 1.7em;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 0px silver;
}

nav {
  margin-bottom: 10px;
}

footer {
  margin-top: -150px;
  color: silver;
}

footer a {
  text-decoration: none;
  color: darkslategrey;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  color: tomato;
  background-color: black;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1000px;
  height: 600px;
  position: sticky;
  font-size: 25px;
}

.modal-content h2 {
  padding-top: 25px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modal-content img {
  padding-top: 50px;
  width: 300px;
}

.display-score {
  font-size: 160px;
  color: silver;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* The Close Button */
.close {
  color: silver;
  float: right;
  font-size: 50px;
  padding-right: 15px;
  font-weight: lighter;
}

.close:hover,
.close:focus {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}